<div class="entry">
  <div id = "errorMsg">
  </div>
    <div class="beetext-center">
      <h1>Find faces in static image</h1>
    </div>
    <main>
      <section>
        <div class="beecontainer-center">
          <span style="margin-right: 5px">Upload an image </span>

          <input type="file" onchange="onImgUploaded(event)" />
        </div>
        <div class="beecontainer-center">
          <form name="detectorClassifier">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-purple btn-rounded active form-check-label">
                <input type="radio" autocomplete="off" > Classify face using: <i class="fa fa-check ml-2"></i>
              </label>
              <label class="btn btn-purple btn-rounded form-check-label">
                <input  type="radio" autocomplete="off" name="faceClassifier" value="haarFrontalFaceDefault"> Haar Frontal Face Default <i class="fa fa-code ml-2"></i>
              </label>
              <label class="btn btn-purple btn-rounded  form-check-label">
                <input type="radio" autocomplete="off" name="faceClassifier" value="haarFrontalFaceAlt2"> Haar Frontal Face Alt 2 <i class="fa fa-diamond ml-2"></i>
              </label>
              <label class="btn btn-purple btn-rounded form-check-label">
                <input  type="radio" autocomplete="off" name="faceClassifier" value="lbpFrontalFace"> Local binary Pattern FrontalFace <i class="fa fa-code ml-2"></i>
              </label>
            </div>
        </form>

        </div>
        <div class="beecontainer-center">
          <form name="eyeDetectorClassifier">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-purple btn-rounded active form-check-label">
                <input type="radio" autocomplete="off" > Classify eyes using: <i class="fa fa-check ml-2"></i>
              </label>
              <label class="btn btn-purple btn-rounded form-check-label">
                <input  type="radio" autocomplete="off" name="eyeClassifier" value="haarEye"> Haar Eye <i class="fa fa-code ml-2"></i>
              </label>
              <label class="btn btn-purple btn-rounded  form-check-label">
                <input type="radio" autocomplete="off" name="eyeClassifier" value="haarEyeTreeEyeGlasses"> Haar Eye Tree Glasses <i class="fa fa-diamond ml-2"></i>
              </label>
              <label class="btn btn-purple btn-rounded  form-check-label">
                <input type="radio" autocomplete="off" name="eyeClassifier" value="haarLeftEye2Splits"> Haar Left Face Alt 2 <i class="fa fa-diamond ml-2"></i>
              </label>
              <label class="btn btn-purple btn-rounded form-check-label">
                <input  type="radio" autocomplete="off" name="eyeClassifier" value="haarRightEye2Splits"> Haar Right Eye <i class="fa fa-code ml-2"></i>
              </label>
            </div>
        </form>

        </div>

      </section>


      <!--Region where images will be display-->
      <section>
        <div class="beecontainer-center">
          <!--Card group-->


    <!--Card-->
    <div class="beecard">
    <div class="card mb-4">

        <!--Card image-->
        <div class="view overlay">
            <img class="img-fluid" src="/images/faces/default-input.jpeg" alt="Input image" id="inputFaceImg" width="500" height="500">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <!--Card image-->

        <!--Card content-->
        <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Input Image</h4>
            <button class="btn btn-cyan btn-rounded active btn-lg" onclick= "findFaces()"> Locate Faces </button>
        </div>
        <!--Card content-->

    </div>
  </div>
    <!--Card-->

    <div class="beecard">
    <div class="card mb-4 beecard">

        <!--Card image-->
        <div class="view overlay">
            <img class="img-fluid" src="/images/faces/default-input.jpeg" alt="Output image" id="outputFaceImg" width="500" height="500">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <!--Card image-->

        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Output Image</h4>

            <button class="btn btn-cyan btn-lg" onclick="onExtract();"><i class="fa fa-magic mr-1"></i> Recognize</button>
        </div>
        <!--Card content-->

    </div>
  </div>

        </div>
      </section>
      <section>
        <div class="beecontainer-center">

          <canvas id="canvas-recognized" style="border:3px outset #9E4FB3;border-radius: 25px;"></canvas>
        </div>
      </section>
    </main>

</div>
