<header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-7 my-auto">
          <div class="header-content mx-auto">
            <h1 class="mb-5">{{translation.header_title}}</h1><br/><h3>OpenCV, C++ Addons, NodeJs</h3><br/><h2>{{translation.header_subtitle}}</h2>
            <a href="/faces" class="btn btn-outline btn-xl js-scroll-trigger">Explore Now!</a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="features" id="features">
    <div class="container">
      <div class=" text-center">
        <h2>{{translation.features_title}}</h2><br/><h2>
          <i class="fa fa-heart"></i></h2>.<br><h2>{{translation.features_title_part2}}</h2>
        <hr>
      </div>
      <div class="row">

        <div class="col-lg-12 my-auto">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-screen-smartphone text-primary"></i>
                  <h3>{{translation.features_explore}} {{translation.title}}</h3>
                  <p class="text-muted">{{translation.features_explore_content}}</p>

                </div>
              </div>
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-camera text-primary"></i>
                  <h3>{{translation.features_realtime}}</h3>
                  <p class="text-muted">{{translation.features_realtime_content}}</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
