<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/start-index.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.5/css/mdb.min.css" />
    <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

  </head>
  <body>
    <div class="entry">
      <div class="body">
        <nav class="navbar navbar-default navbar-inverse" id="mainNav" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#beeface-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class=" text-center">
              <a class="navbar-brand js-scroll-trigger" href="/">
              BeeFaces
            </a>
          </div>
            </div>

            <div class="collapse navbar-collapse" id="beeface-nav">
              <ul class="nav navbar-nav">

                <li class="nav-item active"><a href="webcam">{{translation.nav_captureImg}}</a></li>

                <li class="nav-item"><a href="faces">{{translation.nav_uploadImg}}</a></li>

              </ul>
              <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{translation.nav_settings}} <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li class="divider"></li>
                      <li>{{translation.settings_lang}}</li>
                      <li>
                            <a href="/?clang=en">{{translation.lang_en}}</a>
                            <a href="/?clang=fr">{{translation.lang_fr}}</a>

                      </li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>

                  </ul>
                </li>
                <li><p class="navbar-text">{{translation.are_you_trainer}}</p></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>{{translation.nav_login}}</b> <span class="caret"></span></a>
              <ul id="login-dp" class="dropdown-menu">
                <li>
                   <div class="row">
                      <div class="col-md-12">
                        <p>{{translation.login_with}} </p>
                        <div class="social-buttons">
                          <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                          <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
                        </div>
                        <br/>
                            <p>{{translation.alternative_login}}</p>

                         <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                            <div class="form-group">
                               <label class="sr-only" for="trainerUsername">{{translation.username_placeholder}}</label>
                               <input type="email" class="form-control" id="trainerUsername" placeholder="{{translation.username_placeholder}}" required>
                            </div>
                            <div class="form-group">
                               <label class="sr-only" for="pwd">{{translation.pwd_placeholder}}</label>
                               <input type="password" class="form-control" id="pwd" placeholder="{{translation.pwd_placeholder}}" required>
                               <div class="help-block text-right"><a href="">{{translation.forgotten_pwd}}</a></div>
                            </div>
                            <div class="form-group">
                               <button type="submit" class="btn  btn-secondary btn-block">{{translation.sign_in}}</button>
                            </div>
                            <div class="checkbox">
                               <label>
                               <input type="checkbox"> {{translation.remember_me}}
                               </label>
                            </div>
                         </form>
                      </div>
                      <div class="bottom text-center">
                        <p>{{translation.join_community}}</p>
                        <p> <a href="#"><b>{{translation.click_here}}</b></a></p>
                      </div>
                   </div>
                </li>
              </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>


      </div>

      {{{body}}}

      <footer>
        <div class="beecontainer-center">


          <ul class="list-inline badges">
            <li class="list-inline-item">
              <p>&copy; 2018 BeeFaces, Ltd.</p>
            </li>
            <li class="list-inline-item">
              <a href="#">Documentation</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Terms</a>
            </li>
            <li class="list-inline-item">
              <a href="#">FAQ</a>
            </li>
            <li class="list-inline-item">
              <a class="badge-link" href="#"><img src="images/google-play-badge.svg" alt=""></a>
            </li>
            <li class="list-inline-item">
              <a href="#">  <a class="badge-link" href="#"><img src="images/app-store-badge.svg" alt=""></a></a>
            </li>
          </ul>


        </div>
      </footer>
    </div>
    <script type="text/javascript">
    var languages = [
       {
          name: "French",
          location: "/?clang=fr"
        },
        {
          name: "English",
          location: "/?clang=en"
        }
    ];
    </script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.5/js/mdb.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.js"></script>
  <script src="javascripts/start-index.js"></script>
    <script src="/javascripts/httpManagement.js"></script>
    <script src="/javascripts/imgManagement.js"></script>
    <script src="http://localhost:45000/socket.io/socket.io.js"></script>
    <script src="/javascripts/findFaces.js"></script>

    <script src="/javascripts/webCamUtils.js"></script>


  </body>
</html>
