<div class="entry">
  <div class="beecontainer-center">
    <button class="btn btn-cyan btn-rounded active btn-lg" onclick= "startWebCam()"> Start </button>
        <button class="btn btn-cyan btn-rounded active btn-lg" onclick= "stopWebcam()"> Stop </button>
  <button class="btn btn-cyan btn-rounded active btn-lg" onclick= "detectFacesInWebCam()"> Detect </button>
  </div>
  <div class="beecontainer-center">
    <video id="webcam-video"  style="border:3px outset #9E4FB3;border-radius: 25px;"></video>
  </div>
  <div class="beecontainer-center">
    <canvas id="canvas-video" style="border:3px outset #9E4FB3;border-radius: 25px;"></canvas>
    <canvas id="canvas-output" style="border:3px outset #9E4FB3;border-radius: 25px;"></canvas>
  </div>


</div>
