$bgDefault: #9b59b6
$bgHighlight: #8e44ad
$colDefault: #ecf0f1
$colHover: #ecdbff
$bgButton: #bb8ecd

body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

img, .beecard
  margin: 5px 5px

#login-dp
  min-width: 250px
  padding: 14px 14px 0
  overflow: hidden
  background-color: rgba(255,255,255,.8)
  .bottom
    background-color: rgba(255,255,255,.8)
    border-top: 1px solid #ddd
    clear: both
    padding: 14px
  .social-buttons a
    width: 49%
  .form-group
    margin-bottom: 10px
.btn-rounded
  border-radius: 12px !important
.btn-fb
  color: #fff
  background-color: #3b5998
  \:hover
  color: #fff
  background-color: #496ebc

.btn-tw
    color: #fff
    background-color: #55acee
    \:hover
    color: #fff
    background-color: #59b5fa

@media(max-width: 768px)
  login-dp
    background-color: inherit
    color: #fff
    .bottom
      background-color: inherit
      border-top: 0 none

.navbar-default
    background-color: $bgDefault
    border-color: $bgHighlight
    .btn, .btn-primary, .btn-block
      background-color: $bgButton
    .navbar-brand
        color: $colDefault
        \:hover, \:focus
            color: $colHover
    .navbar-nav
        > li
            > a
                color: $colDefault
                \:hover, \:focus
                    color: $colHover
        .active
            > a, > a:hover, > a:focus
                color: $colHover
                background-color: $bgHighlight
        .open
            > a, > a:hover, > a:focus
                color: $colHover
                background-color: $bgHighlight
                .caret
                    border-top-color: $colHover
                    border-bottom-color: $colHover
        > .dropdown
            > a
                .caret
                    border-top-color: $colDefault
                    border-bottom-color: $colDefault
                \:hover, \:focus
                    .caret
                        border-top-color: $colHover
                        border-bottom-color: $colHover
    .navbar-toggle
        border-color: $bgHighlight
        \:hover, \:focus
            background-color: $bgHighlight
        .icon-bar
            background-color: $colDefault
@media (max-width: 767px)
    .navbar-default .navbar-nav .open .dropdown-menu > li > a
        color: $colDefault
        \:hover, \:focus
            color: $colHover
            background-color: $bgHighlight
.beecontainer-center
  margin: 20px
  display: flex
  justify-content: center
.beetext-center
  text-align: center
.beecontainer-block
  display: block
