body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

img {
  margin: 5px 5px; }

#login-dp {
  min-width: 250px;
  padding: 14px 14px 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8); }
  #login-dp .bottom {
    background-color: rgba(255, 255, 255, 0.8);
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px; }
  #login-dp .social-buttons a {
    width: 49%; }
  #login-dp .form-group {
    margin-bottom: 10px; }

.btn-fb {
  color: #fff;
  background-color: #3b5998;
  color: #fff;
  background-color: #496ebc; }

.btn-tw {
  color: #fff;
  background-color: #55acee;
  color: #fff;
  background-color: #59b5fa; }

@media(max-width: 768px) {
  login-dp {
    background-color: inherit;
    color: #fff; }
    login-dp .bottom {
      background-color: inherit;
      border-top: 0 none; } }
.navbar-default {
  background-color: #9b59b6;
  border-color: #8e44ad; }
  .navbar-default .btn, .navbar-default .btn-primary, .navbar-default .btn-block {
    background-color: #bb8ecd; }
  .navbar-default .navbar-brand {
    color: #ecf0f1; }
    .navbar-default .navbar-brand :hover, .navbar-default .navbar-brand \:focus {
      color: #ecdbff; }
  .navbar-default .navbar-nav > li > a {
    color: #ecf0f1; }
    .navbar-default .navbar-nav > li > a :hover, .navbar-default .navbar-nav > li > a \:focus {
      color: #ecdbff; }
  .navbar-default .navbar-nav .active > a, .navbar-default .navbar-nav .active > a:hover, .navbar-default .navbar-nav .active > a:focus {
    color: #ecdbff;
    background-color: #8e44ad; }
  .navbar-default .navbar-nav .open > a, .navbar-default .navbar-nav .open > a:hover, .navbar-default .navbar-nav .open > a:focus {
    color: #ecdbff;
    background-color: #8e44ad; }
    .navbar-default .navbar-nav .open > a .caret, .navbar-default .navbar-nav .open > a:hover .caret, .navbar-default .navbar-nav .open > a:focus .caret {
      border-top-color: #ecdbff;
      border-bottom-color: #ecdbff; }
  .navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #ecf0f1;
    border-bottom-color: #ecf0f1; }
  .navbar-default .navbar-nav > .dropdown > a :hover .caret, .navbar-default .navbar-nav > .dropdown > a \:focus .caret {
    border-top-color: #ecdbff;
    border-bottom-color: #ecdbff; }
  .navbar-default .navbar-toggle {
    border-color: #8e44ad; }
    .navbar-default .navbar-toggle :hover, .navbar-default .navbar-toggle \:focus {
      background-color: #8e44ad; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #ecf0f1; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a :hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a \:focus {
      color: #ecdbff;
      background-color: #8e44ad; } }
.beecontainer-center {
  margin: 20px;
  display: flex;
  justify-content: center; }

.beetext-center {
  text-align: center; }

/*# sourceMappingURL=style.css.map */
